
input::placeholder { font-style: italic; }

select[data-value=""] {
	font-style: italic;
	color: grey;
}
option {
	font-style: normal;
	color: black;
}

.grid.answers {
	display: grid;
	grid-gap: 24px 0;
}
.grid.answers > div {
	/* height: 38px; */
	display: grid;
	grid-template-columns: 80px 1fr;
	grid-gap: 0 16px;
}

.info-num {
	height: 100%;
	display: flex;
	justify-content: end;
}

.count {
	width: 240px;
	display: flex;
	border-bottom: 1px solid black;
	align-items: end;

	font-size: 13px;
}
.count > .num {
	width: 130px;
	margin-right: 10px;
	display: flex;
	justify-content: end;

	line-height: 40px;
	font-size: 40px;
}