
input::placeholder { font-style: italic; }

select[data-value=""] {
	font-style: italic;
	color: grey;
}
option {
	font-style: normal;
	color: black;
}

.grid.answers > div {
	height: 38px;
	margin-top: 24px;
	display: grid;
	grid-template-columns: 80px 1fr;
	grid-gap: 0 16px;
}
.grid.answers > .answer_first {
	margin-top: 0;
}